body {
  display: flex;
  width: 100%;
  align-items: start;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-gray-1);
}


#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
label,
button {
  transition-duration: var(--transition-duration);
}

:focus-visible {
  outline: 2px dashed var(--color-black);
  outline-offset: 4px;
  transition-duration: 0s !important;
}