.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.w100 {
  width: 100%;
}

.flex {
  display: flex;
}

.aic {
  align-items: center;
}

.jcsb {
  justify-content: space-between;
}

.cg10 {
  column-gap: 10px;
}