.header {
    position: sticky;
    /* всегда сверху */
    top: 0;
    width: 100%;
    /* на всю ширину */

    display: grid;
    align-items: center;

    padding: 16px 32px;
    background: white;
    border-bottom: 1px solid #e5e7eb;
    z-index: 100;
}

/* Центр */
.nav {
    display: grid;
    grid-auto-flow: column;
    gap: 24px;
    justify-content: center;
}

.nav a {
    text-decoration: none;
    color: #374151;
    font-weight: 500;
}

.nav a.active {
    color: #2563eb;
    border-bottom: 2px solid #2563eb;
}